@model LaboratoriAnalizav.Models.Service

@{
    ViewData["Title"] = "Delete";
}


<div class="container">
    <div class="wrapper">
        <div class="profile-image">
            <img src="https://moleculah2o.com/wp-content/uploads/2017/09/laboratoare-pentru-analiza-apei.jpg" class="image">
        </div>
        <div class="profile-info">
            <div class="info">
                <table class="table table-striped table-hover">
                    <thead>

                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>

                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <tr>

                            <td>
                                @Html.DisplayFor(model => model.Name)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.Description)
                            </td>


                            <td>
                                <form asp-action="Delete">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="submit" value="Delete" class="btn btn-default" />

                                </form>
                            </td>
                            <td>
                                <a asp-action="Index"><i class="material-icons disabled_by_default">&#xf230;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>